In [191]:
import glob

In [192]:
help(glob)

Help on module glob:

NAME
    glob - Filename globbing utility.

MODULE REFERENCE
    https://docs.python.org/3.13/library/glob.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

FUNCTIONS
    escape(pathname)
        Escape all special characters.

    glob(
        pathname,
        *,
        root_dir=None,
        dir_fd=None,
        recursive=False,
        include_hidden=False
    )
        Return a list of paths matching a pathname pattern.

        The pattern may contain simple shell-style wildcards a la
        fnmatch. Unlike fnmatch, filenames starting with a
        dot are special cases that are not matched by '*' and '?'
        patterns by default.

        If `include_hidden` is true, the patterns '*', '?', '**'  will match hidden
        directories.

        If `recursive` is true, the pattern '**' will match any files and
        zero or more directories and subdirectories.

    iglob(
        pathname,
        *,
        root_dir=None,
        dir_fd=None,
        recursive=False,
        include_hidden=False
    )
        Return an iterator which yields the paths matching a pathname pattern.

        The pattern may contain simple shell-style wildcards a la
        fnmatch. However, unlike fnmatch, filenames starting with a
        dot are special cases that are not matched by '*' and '?'
        patterns.

        If recursive is true, the pattern '**' will match any files and
        zero or more directories and subdirectories.

    translate(pat, *, recursive=False, include_hidden=False, seps=None)
        Translate a pathname with shell wildcards to a regular expression.

        If `recursive` is true, the pattern segment '**' will match any number of
        path segments.

        If `include_hidden` is true, wildcards can match path segments beginning
        with a dot ('.').

        If a sequence of separator characters is given to `seps`, they will be
        used to split the pattern into segments and match path separators. If not
        given, os.path.sep and os.path.altsep (where available) are used.

DATA
    __all__ = ['glob', 'iglob', 'escape', 'translate']

FILE
    c:\users\71480\appdata\local\programs\python\python313\lib\glob.py

In [193]:
glob.glob('./data/retail_db/**', recursive=True)

['./data/retail_db\\',
 './data/retail_db\\categories',
 './data/retail_db\\categories\\part-00000',
 './data/retail_db\\create_db.sql',
 './data/retail_db\\create_db_tables_pg.sql',
 './data/retail_db\\customers',
 './data/retail_db\\customers\\part-00000',
 './data/retail_db\\departments',
 './data/retail_db\\departments\\part-00000',
 './data/retail_db\\learn_rank_partition.sql',
 './data/retail_db\\load_db_tables_pg.sql',
 './data/retail_db\\orders',
 './data/retail_db\\orders\\part-00000',
 './data/retail_db\\order_items',
 './data/retail_db\\order_items\\part-00000',
 './data/retail_db\\products',
 './data/retail_db\\products\\part-00000',
 './data/retail_db\\README.md',
 './data/retail_db\\saigon_canvas.sql',
 './data/retail_db\\schemas.json']

In [194]:
glob.glob('./data/retail_db/*/*')

['./data/retail_db\\categories\\part-00000',
 './data/retail_db\\customers\\part-00000',
 './data/retail_db\\departments\\part-00000',
 './data/retail_db\\orders\\part-00000',
 './data/retail_db\\order_items\\part-00000',
 './data/retail_db\\products\\part-00000']

In [195]:
src_file_names = glob.glob('./data/retail_db/*/part-*')
src_file_names

['./data/retail_db\\categories\\part-00000',
 './data/retail_db\\customers\\part-00000',
 './data/retail_db\\departments\\part-00000',
 './data/retail_db\\orders\\part-00000',
 './data/retail_db\\order_items\\part-00000',
 './data/retail_db\\products\\part-00000']

In [196]:
import pandas as pd
for file_name in src_file_names:
    df = pd.read_csv(file_name, header = None)
    print(f'Shape of {file_name} is {df.shape}')

Shape of ./data/retail_db\categories\part-00000 is (58, 3)
Shape of ./data/retail_db\customers\part-00000 is (12435, 9)
Shape of ./data/retail_db\departments\part-00000 is (6, 2)
Shape of ./data/retail_db\orders\part-00000 is (68883, 4)
Shape of ./data/retail_db\order_items\part-00000 is (172198, 6)
Shape of ./data/retail_db\products\part-00000 is (1345, 6)

In [197]:
s = 's/a\\b\c'
s.split('/')

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\71480\AppData\Local\Temp\ipykernel_22716\3754191647.py:1: SyntaxWarning: invalid escape sequence '\c'
  s = 's/a\\b\c'

['s', 'a\\b\\c']

In [198]:
s.split('\\')

['s/a', 'b', 'c']

In [199]:
#regular expression
import re
re.split('[/\\\\]', s)

['s', 'a', 'b', 'c']

In [200]:
for file in src_file_names:
    print(re.split('[/\\\\]', file)[1:])

['data', 'retail_db', 'categories', 'part-00000']
['data', 'retail_db', 'customers', 'part-00000']
['data', 'retail_db', 'departments', 'part-00000']
['data', 'retail_db', 'orders', 'part-00000']
['data', 'retail_db', 'order_items', 'part-00000']
['data', 'retail_db', 'products', 'part-00000']

Tugas dulu bos

In [201]:
import json

In [202]:
file_path = 'data/retail_db/schemas.json'
open(file_path, 'r')

In [203]:
schemas = json.load(open(file_path, 'r')) #load dipakai untuk ambil dari files

In [204]:
def get_column_names(schemas, table):
    return [col['column_name'] for col in sorted(schemas[table], key=lambda col: int(col["column_position"]))]

In [205]:
# baca setiap file (read_csv)
# dan tampilkan shape (baris, kolom)
# pada setiap folder 
# menggunakan nama kolom yang ada pada schemas
# hint: gunakan fungsi get_column_names(schemas, table)
for file in src_file_names:
    table_name = re.split('[/\\\\]', file)[3]
    df = pd.read_csv(file, header=None, names=get_column_names(schemas, table_name))
    print(f'Shape of {file} is {df.shape}')
    print(f'Columns: {df.columns.tolist()}')

Shape of ./data/retail_db\categories\part-00000 is (58, 3)
Columns: ['category_id', 'category_department_id', 'category_name']
Shape of ./data/retail_db\customers\part-00000 is (12435, 9)
Columns: ['customer_id', 'customer_fname', 'customer_lname', 'customer_email', 'customer_password', 'customer_street', 'customer_city', 'customer_state', 'customer_zipcode']
Shape of ./data/retail_db\departments\part-00000 is (6, 2)
Columns: ['department_id', 'department_name']
Shape of ./data/retail_db\orders\part-00000 is (68883, 4)
Columns: ['order_id', 'order_date', 'order_customer_id', 'order_status']
Shape of ./data/retail_db\order_items\part-00000 is (172198, 6)
Columns: ['order_item_id', 'order_item_order_id', 'order_item_product_id', 'order_item_quantity', 'order_item_subtotal', 'order_item_product_price']
Shape of ./data/retail_db\products\part-00000 is (1345, 6)
Columns: ['product_id', 'product_cateogry_id', 'product_name', 'product_description', 'product_price', 'product_image']

In [206]:
df

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...
...,...,...,...,...,...,...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,NaN,34.00,http://images.acmesports.sports/Nike+Women%27s...
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,NaN,32.00,http://images.acmesports.sports/Nike+Men%27s+S...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...

In [207]:
for file in src_file_names:
    print(file)

./data/retail_db\categories\part-00000
./data/retail_db\customers\part-00000
./data/retail_db\departments\part-00000
./data/retail_db\orders\part-00000
./data/retail_db\order_items\part-00000
./data/retail_db\products\part-00000

In [ ]:
# target dir
target_base_dir = './data/retail_db_json'

# contoh ambil nama file dari src_file_names yang pertama
file_name = re.split('[/\\\\]', file)[-1]

In [209]:
print(f'{target_base_dir}/{table_name}/{file_name}')

./data/retail_db_json/products/part-00000

In [214]:
for file in src_file_names:
    table_name = re.split('[/\\\\]', file)[3]
    file_name = re.split('[/\\\\]', file)[-1]
    print(f'{target_base_dir}/{table_name}/{file_name}')
    # os.makedirs(f'{target_base_dir}/{table_name}', exist_ok=True)
    # df = pd.read_csv(file, header=None, names=get_column_names(schemas, table_name))
    # df.to_json(f'{target_base_dir}/{table_name}/{file_name}', orient='records', lines=True)

./data/retail_db_json/categories/part-00000
./data/retail_db_json/customers/part-00000
./data/retail_db_json/departments/part-00000
./data/retail_db_json/orders/part-00000
./data/retail_db_json/order_items/part-00000
./data/retail_db_json/products/part-00000

In [216]:
for file in src_file_names:
    file_path = re.split('[/\\\\]', file)
    table_name = file_path[-2]
    file_name = file_path[-1]
    print(f'{target_base_dir}/{table_name}/{file_name}')

./data/retail_db_json/categories/part-00000
./data/retail_db_json/customers/part-00000
./data/retail_db_json/departments/part-00000
./data/retail_db_json/orders/part-00000
./data/retail_db_json/order_items/part-00000
./data/retail_db_json/products/part-00000

In [ ]:
# 1 - membuat target dir di os
# 2 - menulis df ke target dir di atas
df

In [ ]:
# 1 - buat dir
import os
os.makedirs('./data/retail_db_json/products', exist_ok=True)

In [ ]:
# 2 - menulis ke target dir
df.to_json('./data/retail_db_json/products/part-00000',
    orient='records',
    lines=True
    )

In [227]:
for file in src_file_names:
    file_path = re.split('[/\\\\]', file)
    table_name = file_path[-2]
    file_name = file_path[-1]
    os.makedirs(f'{target_base_dir}/{table_name,2}', exist_ok=True)